body{
    background-image: url(champsbg2.png);
    height:100vh; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}
a{
    color: black;
}

.fejlec {
    float: right;
    width: 40%;
    margin-top: 3%;
    text-align: right;
    color: white;
    display: inline-block;
    font-weight: bold;
    text-shadow: 1.5px 1px 1px grey;
    font-weight: bold;
}
.fejlec a{
    margin-right: 15px;
}

.fejlec>:hover {
    text-decoration: underline;
}

#Logo {
    width: 18%;
    float: left;
}

table, td, th {
    border-collapse: collapse;
    border: 5px solid black;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.2);
    font-size: 30px;
}

.table {
    margin-top: 150px;
    float: left;
    height: 60%;
    width: 500px;
    left: 85px;
    position: relative;
}

th {
    font-style: italic;
}

td {
    font-weight: normal;
}

.characters {
    border-top: 100px;
    color: black;
}

.jellemzes{
    height: 800px;
    width: auto;
    position: absolute;
    top: 700px;
    margin: 0 0 0 20px;
    border: 2px solid black;
    background-color: rgba(255, 255, 255, 0.3);
    margin-left: 125px;   
    margin-right: 120px;

}

li {
    list-style-type: circle;
    margin-left: 40px;
}

hr {
    border: 0.5px solid black;
}

.jellemzes a{
    font-weight: bold;
}